/* General css styling methods for maxing container width, fluidity and etc
*/
.max-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

body {
  background-color: #121212;
}

p {
  color: #ffffff;
  opacity: 70%;
  font-family: "Karla";
  font-size: 130%;
}

h3 {
  color: #ffffff;
  opacity: 100%;
  font-family: "Karla";
}

h2 {
  color: #ffffff;
  opacity: 100%;
  font-family: "Karla";
}

.text-container-width {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  margin: 5%;
}

.text-container-colour {
  background-color: #202020;
}

.roundcorners {
  border-radius: 10%;
}

/* karla-regular - latin */
/* karla-regular - latin */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/karla-v13-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Karla"), local("Karla-Regular"),
    url("../fonts/karla-v13-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/karla-v13-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/karla-v13-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/karla-v13-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/karla-v13-latin-regular.svg#Karla")
      format("svg"); /* Legacy iOS */
}
/* karla-italic - latin */
@font-face {
  font-family: "Karla";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/karla-v13-latin-italic.eot"); /* IE9 Compat Modes */
  src: local("Karla Italic"), local("Karla-Italic"),
    url("../fonts/karla-v13-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/karla-v13-latin-italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/karla-v13-latin-italic.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/karla-v13-latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/karla-v13-latin-italic.svg#Karla")
      format("svg"); /* Legacy iOS */
}
/* karla-700 - latin */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/karla-v13-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Karla Bold"), local("Karla-Bold"),
    url("../fonts/karla-v13-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/karla-v13-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/karla-v13-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/karla-v13-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/karla-v13-latin-700.svg#Karla")
      format("svg"); /* Legacy iOS */
}
/* karla-700italic - latin */
@font-face {
  font-family: "Karla";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/karla-v13-latin-700italic.eot"); /* IE9 Compat Modes */
  src: local("Karla Bold Italic"), local("Karla-BoldItalic"),
    url("../fonts/karla-v13-latin-700italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/karla-v13-latin-700italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/karla-v13-latin-700italic.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/karla-v13-latin-700italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/karla-v13-latin-700italic.svg#Karla") format("svg"); /* Legacy iOS */
}
/* Intro container
*/

.main-pg-container {
  position: relative;
}

.para-img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bg-black {
  background-color: black;
}

.logo-main {
  padding: 0;
  margin: 0;
  position: relative;
  height: 90vh;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/*Navbar
*/
.nav-colour-bg {
  background-color: #212121;
}

.nav-colour-text {
  display: flex;
  color: #ffffff !important;
  opacity: 100% !important;
  font-size: 200%;
  font-family: "Karla";
  font-style: "normal";
  font-weight: 400;
}

.nav-colour-text:hover {
  color: #bb86fc !important;
}

.nav-toggle-colour {
  border-color: #bb86fc !important;
}

.title-pos {
  position: absolute;
  left: 0;
  right: 0;
  top: 60vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.title-main {
  z-index: 3;
  color: #ffffff;
  opacity: 0;
  font-family: "Karla";
  text-align: center;
}

.canvas-pos {
  position: absolute;
  height: 100%;
  width: 100%;
}

.center-title {
  position: absolute;
}

.title-w-size {
  font-size: 500%;
}

/*Mission Container
*/
.mission-pos {
  position: relative;
}

/* Accomplishment Container 
*/

.accomp-bg {
  background-color: #5d437e;
}

.accomp-pos {
  position: relative;
}

/* About Container 
*/
.about-bg {
  background-color: #956bc9;
}

.about-pos {
  position: relative;
}

/* Team Container
*/

.team-pos {
  position: relative;
}

.card-bg {
  background-color: #2a2a2a;
}
.card-header {
  color: #ffffff;
  opacity: 100%;
}

.card-text {
  color: #ffffff;
  opacity: 70%;
}

.slide-pic-pos {
  justify-content: center !important;
  margin-left: auto;
  margin-right: auto;
}

/* Footer
*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212121;
  text-align: center;
}

.footer-text {
  color: #ffffff !important;
  opacity: 100% !important;
  font-size: 100%;
  font-family: "Karla";
  font-style: "normal";
  font-weight: 700;
}
