/* General css styling methods for maxing container width, fluidity and etc
*/
.max-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

body {
  background-color: #121212;
}

p {
  color: #ffffff;
  opacity: 70%;
}

h3 {
  color: #ffffff;
  opacity: 100%;
}

h2 {
  color: #ffffff;
  opacity: 100%;
}

.text-container-width {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  margin: 5%;
}

.text-container-colour {
  background-color: #202020;
}

.roundcorners {
  border-radius: 10%;
}

/* Intro container
*/

.para-img {
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

/*Navbar
*/
.nav-colour-bg {
  background-color: #212121;
}

.nav-colour-text {
  color: #ffffff !important;
  opacity: 100% !important;
  font-size: 150%;
}

.nav-colour-text:hover {
  color: #bb86fc !important;
}

.nav-toggle-colour {
  border-color: #bb86fc !important;
}

/*Mission Container
*/

/* Accomplishment Container 
*/

/* About Container 
*/

/* Team Container
*/

.card-bg {
  background-color: #2a2a2a;
}
.card-header {
  color: #ffffff;
  opacity: 100%;
}

.card-text {
  color: #ffffff;
  opacity: 70%;
}

/* Footer
*/
