body{
    font-family: 'Quicksand', sans-serif;
	background-color: #E4E1E0;
}

html {
	scroll-behavior: smooth;
}

#logoimg{
	transform-origin: top left;
	/* IE 10+, Firefox, etc. */
	-webkit-transform-origin: top left;
	/* Chrome */
	-ms-transform-origin: top left;
	/* IE 9 */
	margin:auto auto auto auto;

	transform-origin:50% 50%;
	animation-delay: 0s;
	animation:1s rotateRight 1 linear; 
}

@keyframes rotateRight{
	100%{ transform:rotate(360deg); }
}

@keyframes fadeIn{
	0%{color:black;}
	100%{color:white;}
}

.logo{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hidden{
	display: none;
}

#title{
	background: #020202;
	font-size: 30px;
	text-align: center;
	color: white;
	animation:fadeIn 10s ease-out;
}

#nav{
	overflow: hidden;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	background: #020202;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

a{
    text-decoration: none;
    display: inline-block;
	padding: 0px 40px;
	color: white;
}

h1{
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

h2{
	color: #6A93B3;
}

h3{
    text-align: center;
	font-size: 3.5em;
	padding-top: 50px;
	padding-bottom: 0px;
}

h3.header{
	position:relative;
	width: 600px;
	margin:auto auto auto auto;
}

h3.header:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	bottom: 0;
	left: 0;
	background-color: black;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 2s ease-in-out;
}

h3.header:hover:before{
	visibility: visible;
	transform: scaleX(1);
}

li a:hover {
	text-decoration: underline;
	font-size: 200%;
}

#nav ul{
    text-align: center;
	font-size: 1em;
    list-style-type: none;
	padding: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#nav li{
    text-decoration: none;
    display: inline-block;
	padding: 0px;
	color: #D6EAF8 ;
}

#home{
	background: url("images/LEAP_BANNER_INV_V3.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
    color: white;
    text-align: center;
    font-size: 2em;
	padding: 0;
	height: 440px;
}

#mission p{
    padding: 50px, 0px, 50px, 0px;
    font-size: 1.5em;
}

#about p{
    padding: 50px, 0px, 50px, 0px;
    font-size: 1.5em;
}

#acc p{
	float:left;
    padding: 50px, 0px, 50px, 0px;
    font-size: 1.5em;
}

.irlpic{
	width: 70%;
	z-index: 0;
	height: 550px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#team p{
    padding: 50px, 0px, 50px, 0px;
	font-size: 1.5em;
	color: white;
}

#Christian {
	width: 30%;
	height: 700px;
	background-color: #2C2C2E;
	float: left;
	margin: 0.75%;
	padding:0.75%;
	text-align: center;
}

#Aaron {
	width: 30%;
	height: 700px;
	background-color: #2C2C2E;
	float: left;
	margin: 0.75%;
	padding: 0.75%;
	text-align: center;
}

#Steven {
	width: 30%;
	height: 700px;
	background-color: #2C2C2E;
	float: left;
	margin: 0.75%;
	padding: 0.75%;
	text-align: center;
}

#nav .selected{
    font-weight: bold;
}

#footer{
    clear:both;
    padding: 5000px, 0px, 10px, 0px;
    text-align: right;
	box-sizing: boarder-box;
}